name: Makefile CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build PICO-8 Cart
        run: make build-cart
      - name: Archive PICO-8 Cart Artifact
        uses: actions/upload-artifact@v4
        with:
          name: stratagem.p8
          path: stratagem.p8
